<div class="footer--wrapper">
	{% if options.newsletter_form_id %}
		<section class="formulaire_infolettre">
			{%- include "partial/part-formulaire_infolettre.twig" -%}
		</section>
	{% endif %}
	<div class="row footer__main">
		<div class="footer__col--0 footer__sub-row footer__social--mobile">
			<ul class="footer__social">
				<li class="nav-item nav-lang">
					{% do action('icl_language_selector') %}
				</li>
				{% include 'components/social_networks.twig' %}
			</ul>
		</div>
		<div class="footer__col--1 footer__logo">
			<img src="{{ TimberImage(options.logo).src | resize(220,0) }}" alt="{{ site.title }}" width="220" height="{{ TimberImage(options.logo).height | resize(220,0) }}">
		</div>
		<div class="footer__col--2">
			<div class="footer__sub-row footer__partners">
				{% if options.logo_lndmrk %}
				<div class="footer__partners-wrapper">
					<h4>{{__('Created by', 'site-theme')}}</h4>
					<img src="{{ TimberImage(options.logo_lndmrk).src }}" alt="{{ TimberImage(options.logo_lndmrk).alt }}" width="{{ TimberImage(options.logo_lndmrk).width }}" height="{{ TimberImage(options.logo_lndmrk).height }}">
				</div>
				{% endif %}
				{% if options.boulevard %}
				<div class="footer__partners-wrapper">
					<h4>{{__('Founding partner', 'site-theme')}}</h4>
					<img src="{{ TimberImage(options.boulevard).src }}" alt="{{ TimberImage(options.boulevard).alt }}" width="{{ TimberImage(options.boulevard).width }}" height="{{ TimberImage(options.boulevard).height }}">
				</div>
				{% endif %}
			</div>
			<div class="footer__sub-row">
				<nav class="navigation footer__navigation" role="navigation">
					<ul class="nav-menu">
						{% for item in footer_menu.get_items %}
						{# CREATE NORMAL MENU LINK IF ITEM DOESN'T HAVE CHILDREN #}
						{% set title = item.title|split(',') %}
						<li class="nav-item{% if item.current %} active{% endif %} {{ item.class }}">
							<a class="nav-link" href="{{ item.link }}">
								<span class="">{{ title[0] }}</span>
								{% if title[1] != null %}
									<span class="">{{ title[1] }}</span>
								{% endif %}
							</a>
						</li>
						{% endfor %}
					</ul>
				</nav>
				<ul class="footer__social">
					<li class="nav-item nav-lang">
						{% do action('icl_language_selector') %}
					</li>
					{% include 'components/social_networks.twig' %}
				</ul>
			</div>
			<div class="footer__sub-row footer__copyright">
				<span>&copy; {{"now"|date('Y')}} {{site.title}}</span>
			</div>
		</div>
	</div>
</div>
