
{% set title = event_post.title %}
{% set link = event_post.link %}
{% set date_de_fin = event_post.date_de_fin %}
{% set event_date = event_post.event_date %}
{% set heure_de_debut = event_post.heure_de_debut %}
{% set heure_de_fin = event_post.heure_de_fin %}
{% set lieu = event_post.lieu %}
{% set ticket = event_post.lien_billets %}
{% set preview = event_post.resume %}

{% set image_de_thumbnail = Image(event_post.image_de_thumbnail).src %}
{% set image_de_levenement = Image(event_post.image_de_levenement).src %}

{% if image_de_thumbnail %}
    {% set thumbnail = image_de_thumbnail %}
{% else %}
    {% set thumbnail = image_de_levenement %}
{% endif %}

{% set id = blog_post.id %}

<div class="col-12 over-the-year card card--full-width {{card_class}}">
    <div class="card__content">
        {% if thumbnail %}
        <div class="card__header">

            <figure>
                <a href="{{link}}">
                    <img class="lazyload"
                    data-srcset="{{ thumbnail|resize(600, 400) }} 600w,{{ thumbnail|resize(400, 267) }} 380w,{{ thumbnail|resize(300, 200) }} 300w,{{ thumbnail|resize(150, 100) }} 150w,{{ thumbnail|resize(250, 166) }} 250w,{{ thumbnail|resize(175, 116) }} 175w"
                    data-sizes="auto"
                    width="300"
                    height="200"
                    alt="{{ title }}">
                </a>
            </figure>
        </div>
        {% endif %}

        <div class="description card__body">
            <h3><a href="{{link}}">{{title}}</a></h3>
            <div class="event-infos">
                {% if event_post.terms %}
                    <span class="category">
                        {{ event_post.terms( {query:{taxonomy:'event-category', orderby:'name', order: 'ASC'}} )|join(', ') }}
                    </span>
                {% endif %}
                {% if  event_date != null %}
                    <span class="date">
                        {%- if date_de_fin != event_date and date_de_fin != null -%}
                        {% if event_post.terms %}<span class="divider"> | </span>{% endif %}{{- event_date | date('j F') }} {{__('to', 'dates événement', 'site-theme')}} {{ date_de_fin | date('j F Y') }}
                        {%- elseif event_date != null -%}
                        {% if event_post.terms %}<span class="divider"> | </span>{% endif %}{{- event_date | date('j F, Y') }}
                        {%- endif -%}
                    </span>
                {% endif %}
                {% if heure_de_debut %}
                    <span class="time">
                        {%- if heure_de_debut %}{% if event_date or event_post.terms %}<span class="divider"> | </span>{% endif %}{{ heure_de_debut|date('H:i') }}{%- endif %}
                        {%- if heure_de_fin %} - {{ heure_de_fin|date('H:i') }}{% endif %}
                    </span>
                {% endif %}
                {%- if lieu %}
                    <span class="location">
                    {% if event_date or heure_de_debut or event_post.terms %}<span class="divider"> | </span>{% endif %}{{ lieu }}
                </span>
                {%- endif %}
            </div>
            {% if preview %}
                <p>{{preview}}</p>
            {% endif %}
            <div class="card__cta">
                <a class="readmore" href="{{link}}">{{__('Learn more >', 'site-theme')}}</a>
                {% if ticket %}
                <span class="divider">|</span>
                <a class="readmore" href="{{ticket}}">{{__('Tickets >', 'site-theme')}}</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>