
{% set title = artist_post.title %}
{% set link = artist_post.link %}
{% set id = artist_post.id %}
{% set biographie = artist_post.meta('biographie') %}

{% set thumbnail = Image(artist_post.image_de_lartiste).src %}

<div class="col-auto article artist_post artist card">

    <div class="card__content">
        <div class="card__header">

            <figure>
                <a href="{{link}}">

                    {% if thumbnail %}
                    <img class="lazyload"
                    data-srcset="{{ thumbnail|resize(600, 400) }} 600w,{{ thumbnail|resize(400, 267) }} 400w,{{ thumbnail|resize(300, 200) }} 300w,{{ thumbnail|resize(150, 100) }} 150w,{{ thumbnail|resize(250, 166) }} 250w,{{ thumbnail|resize(175, 116) }} 175w"
                    data-sizes="auto"
                    width="600"
                    height="400"
                    alt="{{ title }}">
                    {% endif %}
                </a>
            </figure>
        </div>

        <div class="description card__body rte">
            <h3><a href="{{ link }}">{{ title }}</a></h3>
            {{ biographie|truncate(20) }}
            <a class="readmore" href="{{ link }}">{{__('Learn more +', 'site-theme')}}</a>
        </div>
    </div>
</div>