{% extends "base.twig" %}

{% block content %}
	<section id="hero" class="hero hero__section hero__section--404" style="background-image:url('{{ TimberImage(options.background_404).src }}');">
		<div class="hero__overlay"></div>
		<div class="container hero--large">
			<div class="row">
				<div class="col-md-9">
					<h1>
						<span>{{ __('Error 404 | ', 'site-theme') }}</span>
						{{ options.error_title }}
					</h1>
					<h3>{{ options.error_message }}</h3>
					{% if options.error_label %}
					<div class="section__cta">
						<a href="{{ options.error_link }}" class="button">{{ options.error_label }}</a>
					</div>
					{% endif %}
				</div>
			</div>
		</div>
	</section>
{% endblock %}
