{% block html_head_container %}

	{% include 'partial/html-header.twig' %}

		{% block head %}

		{% endblock %}
		{% block json %}

		{% endblock %}

		<link rel="preconnect" href="https://fonts.gstatic.com">
		{% include 'partial/critical-css.twig' %}
		<link rel="stylesheet" href="{{ theme.link }}/dist/css/main.min.css?v=1.20220426">
		{% include 'partial/tracking.twig' with { 'location': 'header' } %}

	</head>

{% endblock %}

	{% block extra_header_scripts %}
	{% endblock %}

	<body class="{{body_class}}" data-template="base.twig">
		<a name="top"></a>
		{% include 'partial/tracking.twig' with { 'location': 'body' } %}

		{# Site Nav #}

		{% block navbar %}
			{% include 'partial/navbar.twig' %}
			<div id="phantom"></div>
		{% endblock navbar %}

		{# Site Main Content #}
	    <main id="main-content" class="content-wrapper">
	      {% block content %}
	        Sorry, no content
	      {% endblock %}
	    </main>

		{# Site Footer #}
		<footer id="footer" class="site-footer" role="contentinfo"{% if TimberImage(options.footer_bg_img) %} style="background-image:url('{{ TimberImage(options.footer_bg_img).src }}')"{% endif %}>
	        {% block footer %}
	            {% include 'layouts/footer.twig' %}
	        {% endblock %}

	    </footer>

		{%- block styles %}
		{%- endblock -%}


		{%- block map_scripts -%}
		{%- endblock -%}

		<script type="text/javascript" src="{{ theme.link }}/dist/js/vendor.min.js?v=1.20220426"></script>
		<script type="text/javascript" src="{{ theme.link }}/dist/js/main.min.js?v=1.20220426" defer></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js" type="text/javascript"></script>
		{{- function('wp_footer') -}}
		{% block scripts %}

		{% endblock %}

	</body>
</html>
