{% extends "base.twig" %}

{% block content %}
<div class="banner">
    <div class="single-banner with-overlay" style="background-image:url('{{ TimberImage(options.home_blog_bg).src | resize(1920,400) }}')">
        <div class="row content">
            <div class="col-12 banner-overlay">
                <h1>{{post.title}}{% if filtered_cat != "" %} | {{ __('Category:', 'site-theme') }}{{filtered_cat}}{% endif %}</h1>
            </div>
        </div>
    </div>
</div>
<div class="content">
    {% if blog_posts -%}
        {% include 'partial/filters-blog.twig' %}

        <section class="row articles card__wrapper">

            {%- for blog_post in blog_posts %}
                {% include 'components/tease_blog-article.twig' %}
            {% endfor -%}

        </section>

        {% include 'components/pagination.twig' with { pagination: blog_posts.pagination({show_all: false, mid_size: 2, end_size: 3}) } %}

    {%- else -%}

        <section class="row no-content">
            <div class="content">
                <p>{{__('No post found.', 'site-theme')}}</p>
            </div>
        </section>

    {%- endif %}
</div>

{% endblock %}