{% extends "base-landing.twig" %}

{% set title_name = page.title_name %}
{% set title_date = page.title_date %}
{% set extra_info = page.extra_info %}
{% set rsvp_link = page.rsvp_link %}
{% set contact = page.meta('contact') %}
{% set artistes = page.meta('artistes') %}
{% set partners = page.meta('partners') %}

{% block content %}
	<article class="post-type-{{page.post_type}}" id="post-{{page.ID}}">
		<section class="splash">
			<div class="container-fluid">
				<div class="row row__background">
					{% for artiste in artistes %}
						<div class="splash__event--imagery col-12" data-target="{{ artiste.event_name | replace({' ': "-"}) | url_encode }}" style="display: none;">
							{% set thumbnail = Image(artiste.event_photo).src %}
							{% set alt -%}
							{{ artiste.event_date }} — {{ artiste.event_name }} — {{ artiste.event_subtitle }}
							{%- endset %}
							{% if thumbnail != null %}

							<img class="lazyload splash__event--img"
							data-srcset="{{ thumbnail|resize(900, 600) }} 900w,{{ thumbnail|resize(700, 467) }} 700w,{{ thumbnail|resize(600, 400) }} 600w,{{ thumbnail|resize(400, 267) }} 400w,{{ thumbnail|resize(300, 200) }} 300w"
							data-sizes="auto"
							width="700"
							height="467"
							alt="{{ alt }}">
						{% endif %}
						</div>
					{% endfor %}
				</div>
				<div class="row row__header">
					<div class="col-lg-12 splash__language splash__language--mobile">
						{% do action('icl_language_selector') %}
					</div>
					<div class="col-12">
						<h1>
							<span>
								<img src="{{TimberImage(options.logo).src }}" alt="{{site.title}}">
								<!-- {{- title_name -}} -->
							</span>
							<span>
								{{- title_date -}}
							</span>
						</h1>
					</div>
				</div>
				<div class="row row__body">

					<div class="col-lg-5">
						<!--
						<div class="splash__logo  splash__logo--mobile">
							<img src="{{TimberImage(options.logo).src }}" alt="{{site.title}}">
						</div>
						-->
						<p class="description">{{extra_info}}</p>
						<h2 class="cta">
							<a href="{{rsvp_link.url}}" title="{{rsvp_link.title}}" target="{{rsvp_link.target}}">{{rsvp_link.title}}</a>
						</h2>
						<ul class="splash__artists">
							{% for artiste in artistes -%}
							<li class="splash__event" data-name="{{ artiste.event_name | replace({' ': "-"}) | url_encode }}">
								{% include 'svg/icon_arrows.svg' with  {class: 'splash__event--icon'} %}
								<div class="splash__event--content">
									<h3>{{ artiste.event_date }} — {{ artiste.event_name }}</h3>
									<p>{{ artiste.event_subtitle }}</p>
								</div>
							</li>
							{%- endfor %}
						</ul>
					</div>
					<div class="col-lg-5">
						<div class="row">
							<div class="col-lg-12 splash__language splash__language--desktop">
								{% do action('icl_language_selector') %}
							</div>
							<div class="col-lg-12 splash__extra">
								<div class="splash__social">
									{% if page.fb_link -%}
									<a class="link_fb" href="{{page.fb_link.url}}" title="{{page.fb_link.title}}" target="{{page.fb_link.target}}">{% include 'svg/icon_facebook.svg' %}</a>
									{%- endif -%}
									{%- if page.insta_link -%}
									<a class="link_in" href="{{page.insta_link.url}}" title="{{page.insta_link.title}}" target="{{page.insta_link.target}}">{% include 'svg/icon_insta.svg' %}</a>
									{%- endif -%}
									{%- if page.yt_link -%}
									<a class="link_in" href="{{page.yt_link.url}}" title="{{page.yt_link.title}}" target="{{page.yt_link.target}}">{% include 'svg/icon_youtube.svg' %}</a>
									{%- endif -%}
									{%- if page.tw_link -%}
									<a class="link_in" href="{{page.tw_link.url}}" title="{{page.tw_link.title}}" target="{{page.tw_link.target}}">{{page.tw_link.title}}</a>
									{%- endif -%}
								</div>
							</div>
							<div class="col-lg-12 splash__contact">
								{{- contact -}}
							</div>
						</div>
					</div>
					<div class="col-lg-12 splash__partner">
						{% for partner in partners -%}
							{% set partner_img = Image(partner) %}
							{% set thumbnail = partner_img.src %}
							<picture>
								<source srcset="{{ thumbnail|towebp }}" type="image/webp">
								<source srcset="{{ thumbnail|tojpg }}" type="image/jpeg">
							   	<img class="lazyload partner__img"
									data-srcset="
										{{- thumbnail|tojpg }}|retina(0.5) }} 0.5x,
										{{- thumbnail|tojpg }}|retina(1) }} 1x,
										{{- thumbnail|tojpg }}|retina(2) }} 2x,
										{{- thumbnail|tojpg }}|retina(3) }} 3x"
						   			data-sizes="auto"
		   							width="auto"
		   							height="50"
		   							alt="{{ partner_img.alt }}">
							</picture>
						{%- endfor %}
					</div>
				</div>
			</div>
		</section>
	</article>
{% endblock %}
{% block scripts %}
<script type="text/javascript">
$(document).ready(function() {
	// Load random Event
	var eventArray = [{% for artiste in artistes %}'{{ artiste.event_name | replace({' ': "-"}) | url_encode }}'{% if loop.last != true  %},{% endif %}{% endfor %}];
	var eventActive = eventArray[Math.floor(Math.random() * eventArray.length)];
	var target = '[data-target="' + eventActive + '"]';
	$(target).show("fast");

	//Update event onclick
	$(".splash__event").on('click mouseover', function(){
		var splash_event_imagery = $(".splash__event--imagery");
		$(splash_event_imagery).hide();
		var data_name = $(this).attr("data-name");
		var clickTarget = '[data-target="' + data_name + '"]';
		$(clickTarget).show("fast");
	});
});
</script>
{% endblock %}
{% block styles %}
<style media="screen">
{% for artiste in artistes %}
{% if Image(artiste.event_tag).src != "" %}
@media screen and (min-width: 768px) {
	[data-target="{{ artiste.event_name | replace({' ': "-"}) | url_encode }}"] {
		background-image: url('{{ Image(artiste.event_tag).src }}');
	}
}
{% endif %}
{% if Image(artiste.event_tag_mobile).src != "" %}
@media screen and (max-width: 767px) {
	[data-target="{{ artiste.event_name | replace({' ': "-"}) | url_encode }}"].splash__event--imagery:before {
		background-image: url('{{ Image(artiste.event_tag_mobile).src }}');
	}
}
{% endif %}
{% endfor %}
</style>
{% endblock %}
