{% extends "base-landing.twig" %}

{% set title_name = page.title_name %}
{% set title_date = page.title_date %}
{% set extra_info = page.extra_info %}
{% set rsvp_link = page.rsvp_link %}
{% set artistes = page.meta('artistes') %}

{% block content %}
	<article class="post-type-{{page.post_type}}" id="post-{{page.ID}}">
		<section class="splash">
			<div class="container-fluid">
				<div class="row row__header">
					<div class="col-12">
						<h1>
							<span>
								{{- title_name -}}
							</span>
							<span>
								{{- title_date -}}
							</span>
						</h1>
					</div>
				</div>
				<div class="row row__background">
					{% for artiste in artistes %}
					{{ artiste.event_photo }}
					{{ artiste.event_tag }}
					{% endfor %}
				</div>
				<div class="row row__body">
					<div class="col-lg-3">

					</div>
					<div class="col-lg-3">
						<p>{{extra_info}}</p>
						<h3>
							<a href="{{rsvp_link.url}}" title="{{rsvp_link.title}}" target="{{rsvp_link.target}}">{{rsvp_link.title}}</a>
						</h3>
						<ul>
							{% for artiste in artistes %}
							<li class="splash__event">
								<h3>{{ artiste.event_date }} — {{ artiste.event_name }}</h3>
								<p>{{ artiste.event_subtitle }}</p>
							</li>
							{% endfor %}
						</ul>
					</div>
					<div class="col-lg-3">
						<div class="row">
							<div class="col-lg-12 splash__logo">
								<img src="{{TimberImage(options.logo).src| resize(0,115) }}" alt="{{site.title}}" width="{{ TimberImage(options.logo).width | resize(0,115) }}" height="115">
							</div>
							<div class="col-lg-12">
								<div class="splash__language">
									{% do action('icl_language_selector') %}
								</div>
								<div class="splash__social">
									{% if page.fb_link %}
									<a class="link_fb" href="{{page.fb_link.url}}" title="{{page.fb_link.title}}" target="{{page.fb_link.target}}">{% include 'svg/icon_fb.svg' %}</a>
									{% endif %}
									{% if page.insta_link %}
									<a class="link_in" href="{{page.insta_link.url}}" title="{{page.insta_link.title}}" target="{{page.insta_link.target}}">{% include 'svg/icon_in.svg' %}</a>
									{% endif %}
									{% if page.yt_link %}
									<a class="link_in" href="{{page.yt_link.url}}" title="{{page.yt_link.title}}" target="{{page.yt_link.target}}">{% include 'svg/icon_in.svg' %}</a>
									{% endif %}
									{% if page.tw_link %}
									<a class="link_in" href="{{page.tw_link.url}}" title="{{page.tw_link.title}}" target="{{page.tw_link.target}}">{% include 'svg/icon_in.svg' %}</a>
									{% endif %}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</article>
{% endblock %}