{% extends "base.twig" %}

{% block content %}

    <section class="bgcolor-white">
        <section class="basic-content">
            <div class="content">
                {{ page.content }}
            </div>
        </section>
    </section>

    <div id="gmap-arts"></div>

    <section class="artwork-list">
       <h2>{{ __('Works list', 'site-theme') }}</h2>
        <div class="content">

            {% set years = [] %}

            {% for item in artwork_posts %}
                {% set date = item.annee %}
                {% if date not in years -%}
                    {% set years = years|merge([date]) %}
                {% endif %}
            {% endfor %}

            {% for year in years|sort|reverse %}
                <div class="year-artworks">
                    <h3>{{year}}</h3>
                    <section class="artwork-col">
                    {% for artwork_post in artwork_posts %}
                        {% set date = artwork_post.annee %}
                        {% if date == year %}
                            <div class="artwork">
                                <span data-markerid="{{artwork_post.id}}">{{artwork_post.title}}</span>
                            </div>
                        {% endif %}
                    {% endfor %}
                    </section>
                </div>
            {% endfor %}

{#
            {% for year in artworks_by_years %}
            <div class="year-artworks">
                <h3>{{year}}</h3>
                <section class="artwork-col">

                </section>
            </div>
            {% endfor %}
#}
        </div>
    </section>

{% endblock %}