{% extends "base.twig" %}

{% block content %}
{% include "partial/section-banner.twig" %}

    <section class="basic-content">
        <div class="row">
            <div class="col-12 rte">
                {{ page.content }}
            </div>
        </div>
    </section>

    <section class="basic-content">
        <div class="row">
            <div class="col-12">
                <div id="gmap-arts"></div>
            </div>
        </div>
    </section>


    <section class="artwork-list">
        <div class="row">
            <div class="col-12 section__title">
                <h2>{{ __('Works list', 'site-theme') }}</h2>
            </div>
        </div>
        <div class="row content">

            {% set years = [] %}

            {% for item in artwork_posts %}
                {% set date = item.annee %}
                {% if date not in years -%}
                    {% set years = years|merge([date]) %}
                {% endif %}
            {% endfor %}

            {% for year in years|sort|reverse %}
                <article class="col-12 year-artworks">
                    <div class="section__sub-title">
                        <h3 class="h2 md">{{year}}</h3>
                    </div>
                    <div class="artwork-col">
                    {% for artwork_post in artwork_posts %}
                        {% set date = artwork_post.annee %}
                        {% if date == year %}
                            <div class="artwork">
                                <span data-markerid="{{artwork_post.id}}">{% include 'svg/icon_arrows.svg' with  {class: 'readmore__icon'} %} {{artwork_post.title}}</span>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </article>
            {% endfor %}
        </div>
    </section>

{% endblock %}