{% extends "base.twig" %}

{% set artiste = Post(post.artiste) %}

{% block content %}
<div class="basic-content single-post">
    <div id="gmap"></div>
    <div class="content">

        {% include '/components/single-navigation.twig' %}

        <section class="col__wrapper article__header row">
            <div class="col-lg-12 section__title">
                <h1>{{post.title}}</h1>
            </div>
            <div class="col-lg-6 left-col">
                <figure>
                    {% if post.image_de_loeuvre %}
                        {%- set img = TimberImage(post.image_de_loeuvre) -%}
                    {% else %}
                        {%- set img = TimberImage(artiste.image_de_lartiste) -%}
                    {% endif %}

                    {% set thumbnail = Image(img).src %}
                    <img class="lazyload"
                        data-srcset="{{ thumbnail|resize(1200, 0) }} 1200w,{{ thumbnail|resize(1024, 0) }} 1024w,{{ thumbnail|resize(600, 0) }} 600w,{{ thumbnail|resize(300, 0) }} 300w,{{ thumbnail|resize(150, 0) }} 150w"
                        data-sizes="auto"
                        width="600"
                        height="400"
                        alt="{{ post.title }}">
                </figure>
            </div>
            <div class="col-lg-6 right-col">
                <h3 class="md h2 artist rte">
                    <span>{{ __('By', 'site-theme') }}</span> <a href="{{ artiste.link }}">{{ artiste.title }}</a>
                </h3>
                <h4 class="h3 date"><span>{{ __('Year of completion:', 'site-theme') }}</span> {{post.annee}}</h4>

                {% if post.ajoute_description == true %}
                     {{ post.meta('description_de_loeuvre') }}
                {% else %}
                    {{ artiste.meta('biographie') }}
                {% endif %}

                {%- include 'components/module_share.twig' with  { link: post.link, title: post.title } -%}
            </div>
        </section>
    </div>
</div>
{% endblock %}

{% block map_scripts %}
    <script type="text/javascript" id="map-single-artwork">
        /* <![CDATA[ */
        var mapData = {"current_url_without_params":"{{current_url_without_params}}","themeURI":"{{themeURI}}","homeURL":"{{homeURL}}","siteName":"{{ site.title }}","gmap":{"address":"{{ mapData_gmap.address }}","lat":"{{ mapData_gmap.lat }}","lng":"{{ mapData_gmap.lng }}"},"year":"{{ mapData_year }}","childURI":"{{ themeURI }}"};
        /* ]]> */
    </script>
{% endblock %}