{% extends "base.twig" %}

{% block content %}
<div class="basic-content">
    <div class="content single-post">

        {% include '/components/single-navigation.twig' %}

        <section class="col-wrapper article__header row">

            <div class="col-lg-6 left-col">
                <figure>
                    {% set thumbnail = Image(image_id).src %}
                    <img class="lazyload"
                        data-srcset="{{ thumbnail|resize(600,0) }} 600w,{{ thumbnail|resize(300,0) }} 300w,{{ thumbnail|resize(150,0) }} 150w,{{ thumbnail|resize(250,0) }} 250w,{{ thumbnail|resize(175,0) }} 175w"
                        data-sizes="auto"
                        width="600"
                        height="400"
                        alt="{{ title }}">
                </figure>
            </div>

            <div class="col-lg-6 right-col">
                <h1>{{post.title}}</h1>

                {% set country = post.pays_dorigine %}
                {% if post.terms %}
                    <h4 class="styles">{{ post.terms( {query:{taxonomy:'style', orderby:'name', order: 'ASC'}} )|join(', ') }}</h4>
                {% endif %}

                {% if country %}
                    <h4 class="country country_{{site.language}}"><span>{{ __('Native country:', 'site-theme') }}</span> {% if 'fr_' in site.language %}{{ country_fr }}{% else %}{{ country_en }}{% endif %}</h4>
                {% endif %}

                <div class="article__cta">
                    {% if post.siteweb %}
                    <a class="button btn--sm artist-socials" href="{{post.siteweb}}" target="_blank" rel="nofollow">{{ __('Website', 'site-theme') }}</a>
                    {% endif %}

                    {% if post.instagram %}
                    <a class="button btn--sm artist-socials" href="{{post.instagram}}" target="_blank" rel="nofollow">{{ __('Instagram', 'site-theme') }}</a>
                    {% endif %}

                    {% if post.facebook %}
                    <a class="button btn--sm artist-socials" href="{{post.facebook}}" target="_blank" rel="nofollow">{{ __('Facebook', 'site-theme') }}</a>
                    {% endif %}

                    {% if post.twitter %}
                    <a class="button btn--sm twitter artist-socials" href="{{post.twitter}}" target="_blank" rel="nofollow">{{ __('Twitter', 'site-theme') }}</a>
                    {% endif %}

                </div>

                <div class="bio article__content">
                    {{ post.meta('biographie') }}
                </div>

                {%- include 'components/module_share.twig' with  { link: post.link, title: post.title } -%}
            </div>

        </section>
    </div>

    <div class="post-nav-wrapper">
        <div class="arrow-container prev-link"><a href="{{post.prev.link}}"><i class="far fa-angle-left"></i> <span>{{post.prev.title}}</span></a></div>
        <div class="arrow-container next-link"><a href="{{post.nest.link}}"><i class="far fa-angle-right"></i> <span>{{post.next.title}}</span></a></div>
    </div>



</div>
{% endblock %}