{% extends "base.twig" %}

{% set content_items = post.meta('contenu_avec_fond') %}

{% set multiple_cat = false %}
{%- for categorie in post.categories -%}
    {% if loop.index > 1 %}
        {% set multiple_cat = true %}
    {% endif %}
{%- endfor -%}

{% block content %}

    <div class="basic-content single-post">
        <div class="content">

            {% include '/components/single-navigation.twig' %}

            <section class="col__wrapper article__header article-meta row">

                <div class="col-lg-6 left-col">
                    <figure>
                        {%- set img = Image(post.meta('image_a_la_une')) -%}
                        {%- set img_url = img.src -%}
                        {%- set reponsize_sizes = "1920,1440,1366,1280,1170,960,800,768,720,640,512,414,375,360" -%}
                        {%- include 'components/reponsive_img.twig' with  { img: img, img_url: img_url, reponsize_sizes: reponsize_sizes} -%}
                    </figure>
                </div>

                <div class="col-lg-6 right-col">
                    <h1 class="h2 md">{{ post.title }}</h1>
                    <p class="article-infos">
                        <h4 class="h3 date"><span>{{ __('Date', 'site-theme') }}: </span>{{ post.date | date('j F Y') }}</h4>
                        <h4 class="h3 post-categories"><span>{% if multiple_cat == true %}{{ __('Categories', 'site-theme') }}{% else %}{{ __('Category', 'site-theme') }}{% endif %}: </span>
                            {%- for categorie in post.categories -%}<a href='{{categorie.link}}'>{{categorie.title}}</a>{% if loop.last == false %} - {% endif %}{%- endfor -%}
                        </44>
                    </p>

                    {%- include 'components/module_share.twig' with  { link: post.link, title: post.title } -%}

                </div>

            </section>

            <section class="content-blog row">
                {% include "partial/parts.twig" with { is_blog_post: true } %}

                <div class="col-12">
                    {%- include 'components/module_share.twig' with  { link: post.link, title: post.title } -%}
                </div>

            </section>

            <section class="articles_du_blog">
				{% include "partial/part-articles_du_blog.twig" with  { link: post.link, title: post.title } %}
            </section>
        </div>
    </div>

{% endblock %}
