{%- set image_gauche = TimberImage(options.image_gauche) -%}
{%- set image_droite = TimberImage(options.image_droite) -%}

<div class="content">
    {% if image_gauche -%}
    <figure>
        <img src="{{ image_gauche.src }}" alt="{{ image_gauche.alt }}" />
    </figure>
    {%- endif %}

    <div class="app-info">
        <h3>{{ options.texte_pour_liens }}</h3>
        <div class="app-links">
            <a href="{{ options.app_store }}" target="_blank" rel="noopener">
                {%- if ICL_LANGUAGE_CODE == 'en' -%}
                    <img src="{{ theme.link }}/images/app-store.png" alt="App Store" />
                {%- else -%}
                    <img src="{{ theme.link }}/images/app-store-fr.png" alt="App Store" />
                {%- endif -%}
            </a>
            <a href="{{ options.google_play }}" target="_blank" rel="noopener">
                {%- if ICL_LANGUAGE_CODE == 'en' -%}
                    <img src="{{ theme.link }}/images/google-play.png" alt="Google Play" />
                {%- else -%}
                    <img src="{{ theme.link }}/images/google-play-fr.png" alt="Google Play" />
                {%- endif -%}
            </a>
        </div>
    </div>

    {% if image_droite -%}
    <figure>
        <img src="{{ image_droite.src }}" alt="{{ image_droite.alt }}" />
    </figure>
    {% endif %}
</div>