{%- set group_id = random(a, z) -%}
{%- set faq = inner_item.faq -%}

<div class="row content accordion faq__wrapper" id="faq_block">
    <div class="col-12">
        {%- for faqs in faq -%}
        <div class="faq__single" itemprop="mainEntity" itemtype="https://schema.org/Question">
            <div class="faq__header" id="{{ group_id }}{{ loop.index }}">
                <div class="faq__header--wrapper{% if loop.index != 1 %} collapsed{% endif %}" data-toggle="collapse" data-target="#collapse{{ loop.index }}" aria-expanded="true" aria-controls="collapseOne">
                    <h3 itemprop="name">
                        {{- faqs.question -}}
                    </h3>
                    {%- include 'svg/icon_faq.svg' with  {class: 'faq__icon'} -%}
                </div>
            </div>
            <div id="collapse{{ loop.index }}" class="collapse faq__body{% if loop.index == 1 %} show{% endif %}" aria-labelledby="{{ group_id }}{{ loop.index }}" data-parent="#faq_block"  itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                <div class="faq__body--inner rte" itemprop="text">
                {{- faqs.answer -}}
                </div>
            </div>
        </div>
        {%- endfor -%}
    </div>
</div>
