<div class="content">
    <div class="row">

        <div class="col-12 section__title">
            {%- if inner_item.acf_fc_layout == 'articles_du_blog' -%}
                {% set titles %}
                    {{__('Latest, posts', 'site-theme')}}
                {% endset %}
            {%- else -%}
                {% set titles %}
                    {{__('You may, also like', 'site-theme')}}
                {% endset %}
            {% endif %}
            {% set titles = titles|split(',') %}
            
            <h2 class="split--title">
                {% for title in titles -%}
                   <span>{{- title -}}</span>
                {%- endfor %}
            </h2>
        </div>

    </div>

    <div class="row articles card__wrapper">

        {%- if inner_item.acf_fc_layout == 'articles_du_blog' -%}

            {%- for blog_post in blog_posts %}
                {% include 'components/tease_blog-article.twig' with {card_width: 'card--full-width' } %}
            {% endfor -%}

        {%- else -%}

            {%- for blog_post in blog_articles %}
                {% include 'components/tease_blog-article.twig' with {card_width: 'card--full-width' } %}
            {% endfor -%}

        {%- endif -%}

    </div>

    <div class="row cta-block">
        <div class="col-12 button-wrap rte">
            <a href="{{options.home_blog}}" class="cta__blog">{{ __('See all posts', 'site-theme') }}</a>
        </div>
    </div>

</div>