{% for item in content_items -%}
    {%- set class -%}bg--{{item.couleur}}{%- endset -%}

    {%- for inner_item in item.contenu -%}
    <section id="{{item.nom_de_la_section|replace({' ': '-'})}}" class="{{inner_item.acf_fc_layout}} {% if class != "bg--white" %}{{class}}{% endif %}">
        {%- if inner_item.acf_fc_layout == 'application' -%}
            {% include "partial/part-application.twig" -%}
        {%- elseif inner_item.acf_fc_layout == 'texte_bouton' -%}
            {%- include "partial/part-texte_bouton.twig" -%}
        {%- elseif inner_item.acf_fc_layout == 'video' -%}
            {%- include "partial/part-video.twig" -%}
        {%- elseif inner_item.acf_fc_layout == 'appels_a_laction' -%}
            {%- include "partial/part-appels_a_laction.twig" -%}
        {%- elseif inner_item.acf_fc_layout == 'titre_section' -%}
            {%- include "partial/part-titre_section.twig" -%}
        {%- elseif inner_item.acf_fc_layout == 'deux_colonnes' -%}
            {%- include "partial/part-deux_colonnes.twig" -%}
        {%- elseif inner_item.acf_fc_layout == 'formulaire_infolettre' -%}
            {%- include "partial/part-formulaire_infolettre.twig" -%}
        {%- elseif inner_item.acf_fc_layout == 'articles_du_blog' -%}
            {%- include "partial/part-articles_du_blog.twig" -%}
        {%- elseif inner_item.acf_fc_layout == 'texte_pleine_largeur' -%}
            {%- include "partial/part-texte_pleine_largeur.twig" -%}
        {%- elseif inner_item.acf_fc_layout == 'galerie' -%}
            {%- include "partial/part-galerie.twig" -%}
        {%- elseif inner_item.acf_fc_layout == 'partenaires' -%}
            {%- include "partial/part-partenaires.twig" -%}
        {%- elseif inner_item.acf_fc_layout == 'evenements_a_venir' -%}
            {%- include "partial/part-evenements_a_venir.twig" -%}
        {%- elseif inner_item.acf_fc_layout == 'image_pleine_largeur' -%}
            {%- include "partial/part-image_pleine_largeur.twig" -%}
        {%- elseif inner_item.acf_fc_layout == 'image_et_texte' -%}
            {%- include "partial/part-image_et_texte.twig" -%}
        {%- endif -%}
    </section>
    {# Nom:{{item.nom_de_la_section}} - Layout name: {{inner_item.acf_fc_layout}} Loop:{{loop.index}} #}
    {%- endfor -%}
{%- endfor %}