

{% if inner_item.titre %}
<div class="row">
    <div class="section__title">
        <h2>{{ inner_item.titre }}</h2>
    </div>
</div>
{% endif %}

{% if inner_item.appel_a_laction %}
<div class="row cta-wrapper">
    {% for item in inner_item.appel_a_laction %}
    <div class="cta toAnimate animS_fadeInUp">
        <figure>
            <a href="{{item.lien_page}}">
                <span class="regular-img">
                    {% set image = TimberImage(item.image) %}
                    <img src="{{ image.src|resize(400,285) }}" alt="{{ image.alt }}" width="400" height="285" />
                </span>
            </a>
        </figure>
        <div class="description">
            <h3><a href="{{ item.lien_page }}">{{ item.titre }}</a></h3>

            {% if item.meta('description') %}
            {{ item.meta('description') }}
            <a class="readmore" href="{{ item.lien_page }}">{{__('Read more', 'site-theme')}}</a>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}
