{%- set image_gauche = TimberImage(options.image_gauche) -%}
{%- set image_droite = TimberImage(options.image_droite) -%}

<div class="row">
    {% if image_gauche -%}
    <figure class="app-image">
        <img src="{{ image_gauche.src }}" alt="{{ image_gauche.alt }}" width="{{ image_gauche.width }}" height="{{ image_gauche.height }}" />
    </figure>
    {%- endif %}

    <div class="app-info">
        <div class="app-content rte">
            <h3 class="h2 lg">{{ options.texte_pour_liens }}</h3>
            {% if options.texte_app_desc -%}
                <p>{{ options.texte_app_desc }}</p>
            {%- endif %}
        </div>
        <div class="app-links">
            <a href="{{ options.app_store }}" target="_blank" rel="noopener">
                {%- if ICL_LANGUAGE_CODE == 'en' -%}
                    <img src="{{ theme.link }}/images/app-store.png" alt="App Store" />
                {%- else -%}
                    <img src="{{ theme.link }}/images/app-store-fr.png" alt="App Store" />
                {%- endif -%}
            </a>
            <a href="{{ options.google_play }}" target="_blank" rel="noopener">
                {%- if ICL_LANGUAGE_CODE == 'en' -%}
                    <img src="{{ theme.link }}/images/google-play.png" alt="Google Play" />
                {%- else -%}
                    <img src="{{ theme.link }}/images/google-play-fr.png" alt="Google Play" />
                {%- endif -%}
            </a>
        </div>

        {%- if image_droite -%}
        <div class="app-partner">
            <h4>{{ __('Presented by', 'site-theme') }}</h4>
            <figure>
                <img src="{{ image_droite.src }}" alt="{{ image_droite.alt }}" />
            </figure>
        </div>
        {%- endif -%}
    </div>

</div>