
{% set left_banner = page.meta('banniere_gauche') %}
{% set right_banner = page.meta('banniere_droite') %}
<div class="banner banner--home row full-width">

        {% set banniere = Image(left_banner.banniere) %}
        {% set banniere_url = banniere.src %}
        {% set logo = Image(left_banner.logo) %}
        {% set logo_url = Image(left_banner.logo) %}
        <div class="col-lg-8 left-banner"{% if left_banner.banniere %} style="background-image: url('{{banniere_url}}');"{% endif %}>

            <div class="row inner__wrapper">
                <div class="col-lg-12 hero__festival">
                    {% set reponsize_sizes = "1280,960,800,768,720,640,512,414,375,360" %}
                    {#{% include 'components/reponsive_img.twig' with  { img: logo, img_url: logo_url, reponsize_sizes: reponsize_sizes} %}#}
                    <h4 class="h2 lg hero__date">{{left_banner.date}}</h4>
                </div>
                {% if left_banner.artiste_colonne_1 %}
                <div class="col-md-8 hero__artist">
                    <h3 class="h4">{{ left_banner.titre_colonne_1 }}</h3>
                    <ul>
                    {%- for item in left_banner.artiste_colonne_1 %}
                        {%- set artiste = item.item_artiste -%}
                        <li> {% if artiste.url != "#" %}<a href="{{ artiste.url }}">{% endif %}{{ artiste.title }}{% if artiste.url != "#" %}</a>{% endif %}</li>
                    {% endfor -%}
                    </ul>
                </div>
                {% endif %}
                {% if left_banner.artiste_colonne_2 %}
                <div class="col-md-4 hero__artist">
                    <h3 class="h4">{{ left_banner.titre_colonne_2 }}</h3>
                    <ul>
                    {%- for item in left_banner.artiste_colonne_2 %}
                        {%- set artiste = item.item_artiste -%}
                        <li> {% if artiste.url != "#" %}<a href="{{ artiste.url }}">{% endif %}{{ artiste.title }}{% if artiste.url != "#" %}</a>{% endif %}</li>
                    {% endfor -%}
                    </ul>
                </div>
                {% endif %}

                {% if left_banner.cta %}
                <div class="col-12">
                    {%- include 'components/button.twig' with  { link_title: left_banner.cta.title, link_url: left_banner.cta.url, color_cta: "", add_icon: left_banner.add_icon, icon: left_banner.icon} -%}
                </div>
                {% endif %}
            </div>

        </div>

        <div class="col-lg-4 right-banner bg--{{right_banner.couleur}}">

            {% set banniere = Image(right_banner.banniere) %}
            {% set banniere_url = banniere.src %}
            {% set reponsize_sizes = "1280,960,800,768,720,640,512,414,375,360" %}

            {% include 'components/reponsive_img.twig' with  { img: banniere, img_url: banniere_url, reponsize_sizes: reponsize_sizes} %}

            {% if right_banner.contenu_banniere %}
            <div class="banner-overlay">
                {{ right_banner.contenu_banniere }}
            </div>
            {% endif %}
        </div>

</div>