
{% set left_banner = page.meta('banniere_gauche') %}
{% set right_banner = page.meta('banniere_droite') %}
<section class="banner banner--home row">

        {% set banniere = Image(left_banner.banniere) %}
        {% set banniere_url = banniere.src %}
        {% set logo = Image(left_banner.logo) %}
        {% set logo_url = Image(left_banner.logo) %}

        {% set visual_sum %}{%- for item in left_banner.artiste_colonne_1 %}{% if loop.first %}{{loop.length}}{% endif %}{% endfor -%}{% endset %}
        {% set music_sum %}{%- for item in left_banner.artiste_colonne_2 %}{% if loop.first %}{{loop.length}}{% endif %}{% endfor -%}{% endset %}

        <div class="col-lg-4 left-banner"> 

            <div class="row inner__wrapper">

                {% if left_banner.artiste_colonne_1 %}
                <div class="col-md-6 hero__artist hero__artist--visual">
                    <h3 class="h4">{{ left_banner.titre_colonne_1 }}<sup>{{visual_sum}}</sup></h3>
                    <ul>
                    {%- for item in left_banner.artiste_colonne_1 %}
                        {%- set artiste = item.item_artiste -%}
                        <li> {% if artiste.url != "#" %}<a href="{{ artiste.url }}">{% endif %}{{ artiste.title }}{% if artiste.url != "#" %}</a>{% endif %}</li>
                    {% endfor -%}
                    </ul>
                </div>
                {% endif %}

                {% if left_banner.artiste_colonne_2 %}
                <div class="col-md-6 hero__artist hero__artist--music">
                    <h3 class="h4">{{ left_banner.titre_colonne_2 }}<sup>{{music_sum}}</sup></h3>
                    <ul>
                    {%- for item in left_banner.artiste_colonne_2 %}
                        {%- set artiste = item.item_artiste -%}
                        <li> {% if artiste.url != "#" %}<a href="{{ artiste.url }}">{% endif %}{{ artiste.title }}{% if artiste.url != "#" %}</a>{% endif %}</li>
                    {% endfor -%}
                    </ul>
                </div>
                {% endif %}

            </div>

        </div>

        <div class="col-lg-8 right-banner">
            <h1 class="hero__date">{{left_banner.date}}</h1>
        </div>

</section>