<section class="banner">
    {% set banniere = Image(page.meta('banniere')) %}
    {% set banniere_mobile = Image(page.meta('banniere_mobile')) %}
    {% set banniere_url = banniere.src %}
    {% set banniere_mobile_url = banniere_mobile.src %}
    {% set contenu_banniere = page.contenu_banniere %}
    {% set titles = "" %}
    {% if ',' in title %}
        {% set titles = title|split(',') %}
    {% endif %}

    <div class="single-banner with-overlay" style="background-image:url('{{banniere_url }}')">
        <div class="row">
            <div class="col-12 banner__title">
                <h1 {%- if titles != empty %} class="split--title"{%- endif -%}>
                {%- if titles != empty -%}
                    {% for title in titles -%}
                        <span>{{- title -}}</span>
                    {%- endfor %}
                {%- else -%}
                   <span>{{- title -}}</span>
                {%- endif -%}
                </h1>
            </div>
            {% if contenu_banniere %}
            <div class="col-12 banner__content rte">
                <p class="lg">{{- contenu_banniere -}}</p>
            </div>
            {% endif %}
        </div>
    </div>
</section>
{% if banniere_mobile_url != blank %}
<style media="screen">
    @media only screen and (max-width: 767px) {
        .single-banner {background-image:url('{{ banniere_mobile_url }}') !important;background-size: 100% auto !important;}
    }
</style>
{% endif %}